main {
    display: flex;
    margin-top: 5vh;
    justify-content: space-evenly;
    column-gap: 25vh;
}

input {
    background-color: #ffeaccd5;
}

textarea {
    background-color: #ffeaccd5;
}